<div class="container-fluid">
  <div class="row">
   <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-1">
                  <div id="mySidenav" class="sidenav">
                    <a class="closebtn" ng-click="closeNav()">&times;</a>
                    <a href="#">Home</a>
                    <a href="#!/upload/">Upload</a>
                    <a href="https://github.com/BurnMyTPU/">Code</a>
                    <a href="#">About</a>
                  </div>
                    <!-- <button type="button" class="btn btn-default" ng-click="openNav()">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button> -->
                  <span style="font-size:30px;cursor:pointer" ng-click="openNav()" class="onespan">&#9776;</span>
                  </div>
                  
                  <div class="col-xs-10">
                    <div class="absoluteCenter">
                      <h1 align="center">I ❤️ Fashion</h1>
                      <h4 align="center">Choose your fashion image!</h4>
                    </div>
                  </div>
                 

                    <!-- <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button> -->
                  </div>
                    
                
            </div>
        </div>
    </header>
</div>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
          <form   layout-align="center center" id="uploadform">
            <p align="center">
            <div class="uploader__input-box">
            <input ng-model="form.image" type="file" name="image" class="form-control uploader__input" accept="image/*"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:200px"/>
            </div>
            <img ng-src="{{image_source}}" style="width:200px;" align="center">
            <input type="submit" id="submit" value="Upload" ng-click="UploadImg()"/>
          
        </p>
        <br/>
      </form>
    </div> 
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <!-- <img ng-src="{{image_source}}"  align="center"> -->
      </div>
    </div>
    
  </div>
</body>

</div>






